In [31]:
# Initial imports
#import os
#import requests
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation
#import warnings
#warnings.filterwarnings("ignore")

#%matplotlib inline

In [32]:
# Load .env enviroment variables
load_dotenv()

True

In [45]:
# read in portfolio.csv format date,ticker,shares,share_price, clean data, set date as index,
portfolio_df = pd.read_csv(Path('portfolio.csv'), index_col=0, parse_dates=True, infer_datetime_format=True)
portfolio_df
#list(portfolio_df.columns)

           symbol  no_of_shares  share_price
order_date
2020-03-16   AMZN            59        84.46
2020-03-16   AAPL            83        60.50
2020-03-16   MSFT            37       135.42
2020-03-16   TSLA           169        29.67
2021-03-05   AMZN            33       150.02
2022-03-15   AAPL            32       155.09
2022-01-24   MSFT            17       296.37
2022-03-14   TSLA            20       255.46

In [46]:
#  add profit/loss column, (takes the number of shares * purchase share_price) - current prices
portfolio_df['order_total'] = portfolio_df['no_of_shares']*portfolio_df['share_price']
#clean_portfolio_df

#join_data_columns = pd.concat([portfolio_df, clean_portfolio_df], axis= 'columns', join="inner")
#join_data_columns.head()

#join_data_columns.drop(join_data_columns.filter(regex="0"),axis=1, inplace=True)
#join_data_columns.head()

print(portfolio_df)

           symbol  no_of_shares  share_price  order_total
order_date
2020-03-16   AMZN            59        84.46      4983.14
2020-03-16   AAPL            83        60.50      5021.50
2020-03-16   MSFT            37       135.42      5010.54
2020-03-16   TSLA           169        29.67      5014.23
2021-03-05   AMZN            33       150.02      4950.66
2022-03-15   AAPL            32       155.09      4962.88
2022-01-24   MSFT            17       296.37      5038.29
2022-03-14   TSLA            20       255.46      5109.20

In [47]:
# get current prices. use api to get current price

API_KEY = os.getenv('ALPACA_API_KEY')

API_SECRET_KEY = os.getenv('ALPACA_SECRET_KEY')

type(API_KEY)

# Create the Alpaca API object
alpaca = tradeapi.REST(
    API_KEY,
    API_SECRET_KEY,
    api_version='v2'
)

# Format current date as ISO format NEED TO AUTO GRAB TODAY'S DATE
today = pd.Timestamp("2022-12-01", tz='America/New_York').isoformat()

# Set the tickers
tickers = portfolio_df['symbol'].unique()

# Set timeframe to "1Day" for Alpaca API
timeframe = "1Day"

stock_price_df = alpaca.get_bars(
    tickers,
    timeframe,
    start=today,
    end=today
).df

stock_price_df.head(10)

portfolio_df.reset_index(inplace=True)

In [97]:
# concat current prices to portfolio 
#current_close_df = pmerge([portfolio_df, stock_price_df], axis= 'columns', join="left")
#current_close_df.head()
from datetime import *


current_price_df = portfolio_df.merge(stock_price_df, how='left', on='symbol')
current_price_df['order_date'] = pd.to_datetime(current_price_df['order_date']).dt.date
current_price_df['current_value'] = current_price_df['no_of_shares']*current_price_df['close']
date_check = date.today() - current_price_df['order_date'] 
current_price_df['bought_days_from_today'] = date_check
current_price_df['bought_days_from_today'] = current_price_df['bought_days_from_today'].dt.days
current_price_df['tax_type'] = ''
current_price_df


#print(current_price_df['bought_days_from_today'])
for x in current_price_df['bought_days_from_today']
     > 365:
    print('its true')

#print(current_price_df['order_date'])


#print(current_price_df['order_date'])

#date_check = date.today() - current_price_df['order_date'] 

#print(date_check)


#print(date.today())
#if current_price_df['date'] > 

#add total value column to dataframe profit/loss column
#portfolio.head()

,order_date,symbol,no_of_shares,share_price,order_total,open,high,low,close,volume,trade_count,vwap,current_value,bought_days_from_today,tax_type
0,2020-03-16,AMZN,59,84.46,4983.14,96.99,97.23,94.9200,95.50,68466221,566158,95.943412,5634.50,990,
1,2020-03-16,AAPL,83,60.50,5021.50,148.21,149.13,146.6100,148.31,71238264,525786,148.105039,12309.73,990,
2,2020-03-16,MSFT,37,135.42,5010.54,253.87,256.12,250.9156,254.69,26039670,352720,254.359525,9423.53,990,
3,2020-03-16,TSLA,169,29.67,5014.23,197.08,198.92,191.8000,194.70,80052996,854391,195.127710,32904.30,990,
4,2021-03-05,AMZN,33,150.02,4950.66,96.99,97.23,94.9200,95.50,68466221,566158,95.943412,3151.50,636,
5,2022-03-15,AAPL,32,155.09,4962.88,148.21,149.13,146.6100,148.31,71238264,525786,148.105039,4745.92,261,
6,2022-01-24,MSFT,17,296.37,5038.29,253.87,256.12,250.9156,254.69,26039670,352720,254.359525,4329.73,311,
7,2022-03-14,TSLA,20,255.46,5109.20,197.08,198.92,191.8000,194.70,80052996,854391,195.127710,3894.00,262,

In [ ]:
# ask user to input dollar total of withdrawal requested, put amount in column "amount_to_withdraw"

In [ ]:
# ask user for yearly income to determine tax bracket. put amount in column "taxable_income"

In [ ]:
# convert "taxable_income" to percentage of taxes owed from tax bracket into column "tax_pct"

In [ ]:
# ask user for 2 letter state abbreviation saved in var "user_state"

In [ ]:
# look up state tax by user_state. add state_tax to tax_pct

In [ ]:
# calculate from profit/loss column which shares to sell that has the closest total to zero.

In [ ]:
# save the net total in a new column "tax_liability", additional new column "short_term/long_term_gains

In [ ]:
# display the ticker and number of shares to sell to get to desired amount_to_withdraw

In [ ]:
# display new tax bill by taking ticker sold value * tax_pct