In [37]:
# Initial imports
#import os
#import requests
import pandas as pd
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation
#import warnings
#warnings.filterwarnings("ignore")

#%matplotlib inline

In [38]:
# Load .env enviroment variables
load_dotenv()

True

In [39]:
# read in portfolio.csv format date,ticker,shares,share_price, clean data, set date as index,
portfolio_df = pd.read_csv(Path('portfolio.csv'), index_col=0, parse_dates=True, infer_datetime_format=True)
portfolio_df
#list(portfolio_df.columns)

           ticker  no_of_shares  share_price
date
2020-03-16   AMZN            59        84.46
2020-03-16   AAPL            83        60.50
2020-03-16   MSFT            37       135.42
2020-03-16   TSLA           169        29.67
2021-03-05   AMZN            33       150.02
2022-03-15   AAPL            32       155.09
2022-01-24   MSFT            17       296.37
2022-03-14   TSLA            20       255.46

In [40]:
#  add profit/loss column, (takes the number of shares * purchase share_price) - current prices
portfolio_df = portfolio_df['order_total'] = portfolio_df['no_of_shares']*portfolio_df['share_price']
portfolio_df

           ticker  no_of_shares  share_price  order_total
date
2020-03-16   AMZN            59        84.46      4983.14
2020-03-16   AAPL            83        60.50      5021.50
2020-03-16   MSFT            37       135.42      5010.54
2020-03-16   TSLA           169        29.67      5014.23
2021-03-05   AMZN            33       150.02      4950.66
2022-03-15   AAPL            32       155.09      4962.88
2022-01-24   MSFT            17       296.37      5038.29
2022-03-14   TSLA            20       255.46      5109.20

In [50]:
# get current prices. use api to get current price and portfolio value of shares read in from csv

API_KEY = os.getenv('ALPACA_API_KEY')

API_SECRET_KEY = os.getenv('ALPACA_SECRET_KEY')

type(API_KEY)

# Create the Alpaca API object
alpaca = tradeapi.REST(
    API_KEY,
    API_SECRET_KEY,
    api_version='v2'
)

# Format current date as ISO format NEED TO AUTO GRAB TODAY'S DATE
today = pd.Timestamp("2022-11-29", tz='America/New_York').isoformat()

# Set the tickers
tickers = portfolio_df['ticker']

# Set timeframe to "1Day" for Alpaca API
timeframe = "1Day"

stock_price_df = alpaca.get_bars(
    tickers,
    timeframe,
    start=today,
    end=today
).df

stock_price_df.head()

#portfolio_df = portfolio_df['current_share_price'] = portfolio_df['no_of_shares']*stock_price_df['close']
#portfolio_df

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-11-29 05:00:00+00:00,144.29,144.81,140.355,141.17,83763833,713284,142.051281,AAPL
2022-11-29 05:00:00+00:00,94.06,94.41,91.440,92.42,65567520,535132,92.569058,AMZN
2022-11-29 05:00:00+00:00,241.40,242.79,238.210,240.33,17956516,222059,240.275669,MSFT
2022-11-29 05:00:00+00:00,184.99,186.38,178.750,180.83,83357152,883446,182.477309,TSLA

In [ ]:
#add total value column to dataframe profit/loss column

In [ ]:
# ask user to input dollar total of withdrawal requested, put amount in column "amount_to_withdraw"

In [ ]:
# ask user for yearly income to determine tax bracket. put amount in column "taxable_income"

In [ ]:
# convert "taxable_income" to percentage of taxes owed from tax bracket into column "tax_pct"

In [ ]:
# ask user for 2 letter state abbreviation saved in var "user_state"

In [ ]:
# look up state tax by user_state. add state_tax to tax_pct

In [ ]:
# calculate from profit/loss column which shares to sell that has the closest total to zero.

In [ ]:
# save the net total in a new column "tax_liability", additional new column "short_term/long_term_gains

In [ ]:
# display the ticker and number of shares to sell to get to desired amount_to_withdraw

In [ ]:
# display new tax bill by taking ticker sold value * tax_pct